.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-background);

  &__content {
    padding: 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.layout--default {
  background: var(--color-background);
}
